







body {
    overflow-x: hidden;
}



.navbar {
    text-transform: uppercase;
}

.navbar-nav {
    text-align: center;
}

.navbar-brand {
    font-size: 30px;
}

.navbar-nav a {
    font-size: 18px;
    font-weight: 500;
}

.nav-link.active, .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: white !important;
}



@media only screen and (max-width: 567px)
{
    .navbar-nav.ml-auto {
        background: rgba(0, 0, 0, 0.5);
    }

    .navbar-toggler {
        padding: 1px 5px;
        font-size: 14px;
        line-height: 0.5;
    }

.nav-link {
    color: white !important;
    font-weight: 400 !important;
}

}


#landingPage {
    position: relative;
    background: url(images/carousel2.jpg);
    min-height: 100vh;
    background-size: cover;
}



.carousel-caption {
    bottom: 40vh;
}


.carousel-caption h5, .carousel-caption p, .carousel-caption a{
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 4px;

}

.carousel-caption h5 {
    font-size: 40px;
}

.carousel-caption p {
    font-size: 25px;
    padding-top: 10px;
}

.carousel-caption a {
    margin-top: 20px;
    display: inline-block;
    font-size: 25px;
    padding: 15px 40px;
    border-radius: 50px;
}


